/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  h1, h2 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th, table td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  form label {
    display: block;
    margin-top: 10px;
  }
  
  form input, form select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
  }
  
  button {
    padding: 8px 12px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  footer {
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
  }
  
  /* Estilos específicos */
  #inicio {
    margin-bottom: 30px;
  }
  
  #inventario button, #ventas button, #proveedores button {
    display: block;
    margin-top: 20px;
  }
  
  #nuevaVentaForm {
    margin-bottom: 20px;
  }